<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:replace="fragments/head :: common" />
    <title>Splat</title>
  </head>
  <body>
  	<th:block th:replace="fragments/header :: common" />
  	<th:block th:replace="fragments/messages :: common" />
  
  	<div class="container">
  
  		<h1>Upload your Spring Boot Application</h1>
	    <div>
		    <form method="POST" enctype="multipart/form-data" th:action="@{/application-upload}">
			  <div class="form-group" >
			    <label for="spring-boot-application-file-picker">Browse for a jar file</label>
			    <input type="file" class="form-control-file" id="spring-boot-application-file-picker" name="file">
			  </div>
			  <button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
	
	</div>

	<th:block th:replace="fragments/scripts :: common" />
    
  </body>
</html>