<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>    
    <th:block th:replace="fragments/head :: common" />
    <title>Splat</title>    
  </head>
  <body>
    <th:block th:replace="fragments/header :: common" />
    <th:block th:replace="fragments/messages :: common" />
    
    <div class="container">
	    <h2>Applications</h2>
	    <th:block th:if="applications.empty">
		    <table class="table">
		    	<thead>
		    		<tr>
		    			<th>Name</th>
		    			<th>Status</th>
		    			<th></th>
		    		</tr>	    
		    	</thead>
		    	<tbody>
		    		<tr th:each="app : ${applications}">
		    			<td th:text="${app.name}"></td>
		    			<td th:text="${app.status}"></td>
		    			<td>
		    				<form th:action="@{/}" method="post">
		    					<input type="hidden" name="appName" th:value="${app.name}" />
		    					<button type="submit" name="delete" class="btn btn-danger">Delete</button>
		    				</form>
		    			</td>
		    		</tr>
		    	</tbody>
		    </table>
	    </th:block>
	    <th:block th:else="">
	    	<p>You've not deployed any applications yet. You can start by uploading an application below</p>
	    </th:block>
		
		<div>
			<a th:href="@{/application-upload}" class="btn btn-primary">Upload Application</a>
		</div>
	</div>
	
	<th:block th:replace="fragments/scripts :: common" />

  </body>
</html>