<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>    
    <th:block th:replace="fragments/head :: common" />
    <title>Splat</title>    
  </head>
  <body>
    <th:block th:replace="fragments/header :: common" />
    <th:block th:replace="fragments/messages :: common" />
    
    <div class="container">
	    <h1>Applications</h1>
	    <th:block th:unless="${applications.empty}">
		    <table class="table">
		    	<thead>
		    		<tr>
		    			<th>Name</th>
		    			<th>Status</th>
		    			<th>Port</th>
		    			<th>Context Path</th>
		    			<th>Application</th>
		    			<th>Alive</th>
		    			<th></th>
		    			<th></th>
		    			<th></th>
		    		</tr>	    
		    	</thead>
		    	<tbody>
		    		<tr th:each="app : ${applications}">
		    			<td th:text="${app.configuration.name}"></td>
		    			<td th:text="${app.container.status}"></td>
		    			<td th:text="${app.container.serverPort}"></td>
		    			<td th:text="${app.container.contextPath}"></td>
		    			<td ><a th:href="${app.url}" target="_blank"> <span th:text="${app.container.contextPath}"></span> <i class="fas fa-external-link-square-alt"></i></a></td>
		    			<th:block>
			    			<td th:if="${app.container.alive}">Y</td>
			    			<td th:unless="${app.container.alive}">N</td>
		    			</th:block>
		    			<td>
		    				<th:block th:if="${app.container.restartable}">
			    				<form th:action="@{/}" method="post">
			    					<input type="hidden" name="applicationId" th:value="${app.id}" />
			    					<button type="submit" name="restart" class="btn btn-default">Restart</button>
			    				</form>
		    				</th:block>
		    			</td>
		    			<td>
		    				<th:block th:if="${app.container.stoppable}">
			    				<form th:action="@{/}" method="post">
			    					<input type="hidden" name="applicationId" th:value="${app.id}" />
			    					<button type="submit" name="stop" class="btn btn-warning">Stop</button>
			    				</form>
		    				</th:block>
		    			</td>
		    			<td>
		    				<th:block th:if="${app.container.deletable}">
			    				<form th:action="@{/}" method="post">
			    					<input type="hidden" name="applicationId" th:value="${app.id}" />
			    					<button type="submit" name="delete" class="btn btn-danger">Delete</button>
			    				</form>
		    				</th:block>
		    			</td>
		    		</tr>
		    	</tbody>
		    </table>
	    </th:block>
	    <th:block th:if="${applications.empty}">
	    	<p>You've not deployed any applications yet. You can start by uploading an application below</p>
	    </th:block>
		
		<div>
			<a th:href="@{/application-upload}" class="btn btn-primary">Upload Application</a>
		</div>
	</div>
	
	<th:block th:replace="fragments/scripts :: common" />

  </body>
</html>